In [ ]:
#60181958 허찬영
# section_33
print('='*10,'section_33','='*10)
myTuple = ('a','b','c')
print(myTuple[0])

myTuple = ("tuple",(1,2,3),[4,5,6])
print(myTuple[0])
print(myTuple[0][1])
print(myTuple[2][0])
print(myTuple[-1])
print(myTuple[-1][0])

myTuple = ('p','y','t','h','o','n')
print(myTuple[1:4])
print(myTuple[:-2])
print(myTuple[:])

# section_35
print('\n','='*10,'section_35','='*10)
my_tuple = (1,2,3)
your_tuple = (4,5,6)

our_tuple = my_tuple + your_tuple
print(our_tuple)

multiply_tuple = my_tuple * 3
print(multiply_tuple)

#del our_tuple
#print(our_tuple)

print(1 in my_tuple)
print(4 in my_tuple)
print(3 not in my_tuple)

print(multiply_tuple.count(1))
print(multiply_tuple.index(2))

tuple1 = (1,2,3)
mytuple = tuple1 + ("Hello",)
print(mytuple)

list1 = [4,5,6]
mylist = list1 + ['Hello',]
print(mylist)
mylist2 = list1 + ['Hello']
print(mylist2)

In [ ]:
#60181958 허찬영


def hap(a,b):
    result = a + b
    print('두 수의 합을 구해 출력해는 함수 입니다.')
    print(f'{a},{b}의 합은 {result}입니다.')    

def cha(a,b):
    result = a - b
    print('두 수의 차을 구해 출력해는 함수 입니다.')
    print(f'{a},{b}의 차은 {result}입니다.')



def hapcha(a,b,op):
    if op == '+':
        hap(a,b)
    elif op == '-':
        cha(a,b)
    else:
        print('정의되지 않은 연산입니다')

hapcha(10,20,'+')
hapcha(10,20,'-')
hapcha(-87,172,'+')
hapcha(-87,172,'-')
hapcha(1,2,'*')

In [33]:
#return
def turnNone(value):
    x = value


def turnValue(value):
    x = value
    return x

def turnTuple(value):
    return value,value+1,value-1 # ()이 생략된것 => 튜플임

a = turnValue(1)
print(a)

a1 = turnTuple(1)
print(a1,type(a1))

#default parameter
def report(mess,who='Heo'): #default parameter값은 뒤쪽에 위치해야 한다
    print(mess,who)

a2 = report('Chan')
a2 = report('Chan','Kim')           
#a2 = report()    

def my_info(name,sid=12345678,age=11):
    print(f'이름은 {name}, 학번은 {sid}, 나이는 {age}')
a3 = my_info('허찬영',60181958,25)
a3 = my_info('허찬영')

#가변 인수
def select_even(*arg): # *arg 가 여러 인자들을 받는 것
                       #전달인자가 tuple로 변환되고 이를 매개변수가 가리키게 된다
                       # 가변인수는 항상 맨뒤쪽에 배치해야한다
    result=[]
    for i in arg:
        if i%2==1:
            continue
        result.append(i)
    return result

print(select_even(1,2,3,4))
print(select_even(-12,2,81,99,48,20))

def my_info2(*info):
    print(type(info))
    print(f'이름은 {info[0]} 학번은 {info[1]} 나이는 {info[2]}이다')

a4 = my_info2(1,2,3)

d = {4,4,5,6}
print(d,type(d))
a4 = my_info2(*d)

d1 = [1,2,3,4]
print(d1,type(d1))
a4 = my_info2(*d1)


def select_even_odd(msg,*arg):
    result=[msg]
    for num in arg:
        if msg == 'even':
            if num%2 ==0:
                result.append(num)
        elif msg == 'odd':
            if num%2==1:
                result.append(num)
        else:
            print("even or odd가 선택되지 않았습니다")

    return result

print(select_even_odd('even',1,2,3,4,5,6,7,8,9,10))
print(select_even_odd('odd',1,2,3,4,5,6,7,8,9,10))
print(select_even_odd('adfasf',1,2,3,4,5,6))

def my_print2(**d): #사전형 가변인수 **가 붙는다
    for key ,value in zip(d.keys(),d.values()):
        print(f'{key} = {value}')

idol = {'exo':9,'twice':10,'bts':12}
my_print2(**idol)




#doc
def ex():
    '''예시 함수입니다'''
    pass

print(help(ex))
ex.__doc__ = '''abc''' #__doc__ 로 함수의 doc를 변경할 수 있다
print(help(ex))

#global 을 통해 지역네임스페이스에서 전역변수를 변경할 수 있다

g_var = 5
print('전역변수 =',g_var)
def gl():
    global g_var #global과 함께 변수를 선언하면 전역변수를 변경할 수 있다
    g_var=3
gl()
print('전역변수 =',g_var)

1
(1, 2, 0) <class 'tuple'>
Chan Heo
Chan Kim
이름은 허찬영, 학번은 60181958, 나이는 25
이름은 허찬영, 학번은 12345678, 나이는 11
[2, 4]
[-12, 2, 48, 20]
<class 'tuple'>
이름은 1 학번은 2 나이는 3이다
{4, 5, 6} <class 'set'>
<class 'tuple'>
이름은 4 학번은 5 나이는 6이다
[1, 2, 3, 4] <class 'list'>
<class 'tuple'>
이름은 1 학번은 2 나이는 3이다
['even', 2, 4, 6, 8, 10]
['odd', 1, 3, 5, 7, 9]
even or odd가 선택되지 않았습니다
even or odd가 선택되지 않았습니다
even or odd가 선택되지 않았습니다
even or odd가 선택되지 않았습니다
even or odd가 선택되지 않았습니다
even or odd가 선택되지 않았습니다
['adfasf']
exo = 9
twice = 10
bts = 12
Help on function ex in module __main__:

ex()
    예시 함수입니다

None
Help on function ex in module __main__:

ex()
    abc

None
전역변수 = 5
전역변수 = 3

In [34]:
#eval
#문자열을 인수로 받아 실제로 실행시킬 수 있는 파이썬 수식으로 변환 후 실행
print(eval('1000*2'))

num = 1
temp = 'print(num+1)'
print(temp)
eval(temp)

2000
print(num+1)
2

In [39]:
import random

mylist = []
for i in range(10):
    x = random.randint(1,100)
    mylist.append(x)

print(mylist)

random.shuffle(mylist)
print(mylist)

[11, 45, 38, 74, 25, 24, 68, 34, 34, 97]
[34, 74, 68, 45, 34, 11, 24, 97, 38, 25]

In [36]:
#random
import random

myStr = 'ABCDEFGHI'

print(random.sample(myStr,2))

myList = random.sample(range(1,45),6) #1~44사이의 숫자중에서 6개의 숫자를 중복되지 않게 추출하는 코드
print(myList,type(myList))
myList.sort()
print(myList)

print(random.random()) #0.0 ~ 1.0 사이에서 임의로 실수를 추출해준다
print(random.uniform(0,10)) #0~(10-1)사이에서 임의로 실수를 추출해준다 uniform(x,y)은 x <= <y & randrange(x,y)도 x<= <y //randint(x,y)는 x<=  <=y


#time
import time
print('현재시각 : ' ,time.time())

def manyloop(max):
    t1 = time.time()
    for a in range(max): #이 for문이 실행되는데 얼마나 걸렸는지 알 수 있다
        pass
    t2 = time.time()
    print(t2-t1, '초 경과')

number = int(input("숫자를 입력하세요 : "))
manyloop(number)

print(time.ctime()) #현재시각을 문자열로 반환해준다

for t in range(6):
    print(time.ctime())
    time.sleep(0.1) # 프로그램을 쉬게하는 코드


#datetime
import datetime

d = datetime.datetime.now()
print(d)

print(d.year,d.month,d.day)
print(d.hour, d.minute, d.second, d.microsecond) #현재 시간 몇시간 / 몇 분 / 몇 초 지났는지 알 수 있
print(d.weekday()) #요일을 알 수 있다 0 = 월요일 1 = 화요일

['I', 'C']
[26, 33, 25, 20, 40, 38] <class 'list'>
[20, 25, 26, 33, 38, 40]
0.027810234020879565
8.104531022415607
현재시각 :  1654593431.736655
숫자를 입력하세요 : 1
2.6226043701171875e-06 초 경과
Tue Jun  7 09:17:15 2022
Tue Jun  7 09:17:15 2022
Tue Jun  7 09:17:15 2022
Tue Jun  7 09:17:15 2022
Tue Jun  7 09:17:15 2022
Tue Jun  7 09:17:15 2022
Tue Jun  7 09:17:15 2022
2022-06-07 09:17:15.877827
2022 6 7
9 17 15 877827
1

In [ ]:
import random
import datetime

print(f'나의 인공지능 메모 -------------')
d = datetime.datetime.now()
now = f'{d.year}년 {d.month}월 {d.day}일 {d.hour}시간 {d.minute}분'

while True:
    order = input('명령을 입력하세요 >> ')
    if order == '로또':
        lotto = {}
        lottolist = []
        lottolist.append(now)
        for i in range(5):
            lotto_num = random.sample(range(1,46),6)
            lottolist.append(tuple(lotto_num))
        lotto[order] = lottolist
        
    elif order[0:3] == '가계부':
        temp = {}
        templist = []
        templist.append(now)
        templist.append(order[7:12])
        templist.append("가계부")
        temp[order[4:6]] = templist
        print(temp)
    elif order[0:2] == '입력':
        temp2 = {}
        temp2[order[0:2]] = (now, '일반')

    elif order[0:2] == '출력':
        print(f'{now} : {temp2}')
        print(f'{now} : {lotto}')
        print(f'{now} : {temp}')
    elif order == '종료':
        print('종료합니다')
        break

    else:
        print("잘못된 명령입니다")

# 딕셔너리 사용법

In [24]:
ex = {'a':1,'b':2,'c':3}

print('ex =',ex)
print('ex.keys =',ex.keys(),list(ex.keys()))
print(list(ex.keys())[1])
print('ex.values =',ex.values(),list(ex.values()))
list(ex.values())[2]

print(ex['a'])
print(ex[1])

ex = {'a': 1, 'b': 2, 'c': 3}
ex.keys = dict_keys(['a', 'b', 'c']) ['a', 'b', 'c']
b
ex.values = dict_values([1, 2, 3]) [1, 2, 3]
1

KeyError: ignored

key나 value값에 접근할때에는 keys(), values()를 통해 dict 객체를 만들고 list로 형변환해서 접근하다

In [28]:
ex2 = {'a':[1,3],'b':(4,5,6),'c':['abc',123,[1,2,3]]}

print('ex2 =',ex2)
print('ex2.keys =',ex2.keys(),type(ex2.keys()),list(ex2.keys()))
print(list(ex2.keys())[0])
print('ex2.values =',ex2.values(),list(ex2.values()))
print(list(ex2.values())[2])

print(list(ex2.values())[2][2])
print(list(ex2.values())[2][2][1])

ex2 = {'a': [1, 3], 'b': (4, 5, 6), 'c': ['abc', 123, [1, 2, 3]]}
ex2.keys = dict_keys(['a', 'b', 'c']) <class 'dict_keys'> ['a', 'b', 'c']
a
ex2.values = dict_values([[1, 3], (4, 5, 6), ['abc', 123, [1, 2, 3]]]) [[1, 3], (4, 5, 6), ['abc', 123, [1, 2, 3]]]
['abc', 123, [1, 2, 3]]
[1, 2, 3]
2

In [30]:
member = {123456 : ["abc123", "홍길동", 100000, "6/27 13:00"]}
print(list(member.keys()))
[123456] == list(member.keys())

member.items()

[123456]

dict_items([(123456, ['abc123', '홍길동', 100000, '6/27 13:00'])])

# 함수

In [77]:
##리턴 값
#1 리턴 값 = 1
def ex():
    return 1
#2 리턴 값 여러개
def ex2():
    return 1,2,3 #사실 튜플에 해당

e = ex()
e2 = ex2()
print(e, e2)
print()
##매개변수
#1 매개변수가 1개
def ex3(x): #x가 매개변수로 해당 ==> 함수로 전달되는 인자를 가리키는 변수를 의미한다
    return x*2
e3 =ex3(3)
print(e3)

#2 매개변수가 여러개
def ex4(x,y,z):
    return x+y+z
e4 = ex4(2,4,6)
print(e4)
print()
#3 매개변수에 default값으로 정해지는 경우
def ex5(x,y,z=4):
    return x+y+z
e5 = ex5(2,4)
e5_2 = ex5(2,4,8) #정해져있는 값에 인자를 전달하면 전달한 값으로 적용된다
print(e5, e5_2)

def ex6(x,y,z='a'):
    return x+y+z
e6 = ex6('a','b')
print(e6)
print()
## 가변인자 
#1 *args
def ex7(*args): #매개변수를 여러개 받을 수 있다 => 가변형 인수
    print(args,type(args),*args) #args에 튜플로 여러개를 저장한것을 볼 수 있다
    for i in args:
        print(i,end= ' ')
e7 = ex7(1,23,4,56,8,9)
print();print()
#2 **kwargs
def ex8(**kwargs): #딕셔너리 형태 가변형 인수 / 위의 args와 같은데 딕셔너리일 뿐인것이다
    print(kwargs,type(kwargs),*kwargs) #args에 튜플로 여러개를 저장한것을 볼 수 있다
    for m,n in kwargs.items():
        print(m,n)
e8 = ex8(**{'a':123,'b':156})
print()
##위 내용 다 혼합한 예제
def example_function(x,y=1,*args):
    print(f'x={x} / y = {y}') #y는 y=1로 default 매개변수이지만 5를 전달했기에 5객체를 가리키게 된다
    print(f'arg = {args}')
example = example_function(1,5,2,3,4,{'a':1},{'a':2})

def example_function2(x,y=1,**kwargs):
    print(f'x={x} / y = {y}') #y는 y=1로 default 매개변수이지만 5를 전달했기에 5객체를 가리키게 된다
    print(f'kwarg = {kwargs}')
example2 = example_function2(1,2,a=1)

##doc => 함수의 설명 출력
def example_function3():
    '''This is example'''
    pass

help(example_function3)

1 (1, 2, 3)

6
12

10 14
aba

(1, 23, 4, 56, 8, 9) <class 'tuple'> 1 23 4 56 8 9
1 23 4 56 8 9

{'a': 123, 'b': 156} <class 'dict'> a b
a 123
b 156

x=1 / y = 5
arg = (2, 3, 4, {'a': 1}, {'a': 2})
x=1 / y = 2
kwarg = {'a': 1}
Help on function example_function3 in module __main__:

example_function3()
    This is example

## 전역변수 & 지역변수

In [92]:
x = 3 #전역변수

def exx():
    x = 2 #지역변수 밖의 x와 다름
    print(x)

exx() 
print(x)

2
3

In [93]:
x = 3 #전역변수

def exx():
    global x
    x = 2 #지역변수 밖의 x와 다름
    print(x)

exx() 
print(x) #x=2로 바뀐것을 알 수 있다

2
2

# eval

eval은 문자열안에 식을 구현하는 함수

In [99]:
x = '{"a": 3}'
y = eval(x)
print(y,type(y))

x2 = '3+2'
y2 = eval(x2)
y2

{'a': 3} <class 'dict'>

5

# random

In [118]:
import random
## randint
mylist = []
for i in range(10):
    x = random.randint(1,100) #randint(x,y)는 x<=  <=y x이상 y이하에서 random하게 int를 뽑는다
    mylist.append(x)
print(mylist)
random.shuffle(mylist) #shuffle()의 ()를 섞는다
print(mylist)
print()

##random.sample
myStr = 'ABCDEFGHI'
print(random.sample(myStr,2)) #myStr에서 랜덤하게 2개 뽑는다
myList = random.sample(range(1,45),6) #1~44사이의 숫자중에서 6개의 숫자를 중복되지 않게 추출하는 코드
print(myList,type(myList))
myList.sort()
print(myList)
print()

##random.randrange
myList2 = random.randrange(1,45) #1~44사이의 숫자중에서 하나를 중복되지 않게 추출하는 코드
print(myList2,type(myList))
print()
##random.random
print(random.random()) #0.0 ~ 1.0 사이에서 임의로 실수를 추출해준다
print()
##random.unifrom
print(random.uniform(0,2)) #(x,y) x이상 y미만사이에서 임의로 실수를 추출해준다 uniform(x,y)은 x <= <y & randrange(x,y)도 x<= <y //randint(x,y)는 x<=  <=y
print()

[15, 81, 67, 14, 54, 70, 14, 100, 96, 79]
[96, 70, 54, 100, 79, 14, 14, 81, 15, 67]

['H', 'B']
[32, 11, 27, 31, 38, 5] <class 'list'>
[5, 11, 27, 31, 32, 38]

8 <class 'list'>

0.5113221679664711

1.3561572793402301

# time

In [109]:
#time
import time
print('현재시각 : ' ,time.time()) #time.time() => 현재시간을 초단위로 출력

print(time.ctime()) #현재시각을 문자열로 반환해준다

for t in range(6):
    print(time.ctime())
    time.sleep(0.1) # 프로그램을 쉬게하는 코드

현재시각 :  1654607546.4984038
Tue Jun  7 13:12:26 2022
Tue Jun  7 13:12:26 2022
Tue Jun  7 13:12:26 2022
Tue Jun  7 13:12:26 2022
Tue Jun  7 13:12:26 2022
Tue Jun  7 13:12:26 2022
Tue Jun  7 13:12:27 2022

# datetime

In [112]:
#datetime
import datetime

d = datetime.datetime.now() 
print(d, type(d))

print(d.year,d.month,d.day,type(d.year)) #d.year는 datetime.daetime.now에서 중 year만 int로 받음
print(d.hour, d.minute, d.second, d.microsecond) #현재 시간 몇시간 / 몇 분 / 몇 초 지났는지 알 수 있
print(d.weekday()) #요일을 알 수 있다 0 = 월요일 1 = 화요일

2022-06-07 13:13:34.795546 <class 'datetime.datetime'>
2022 6 7 <class 'int'>
13 13 34 795546
1

In [108]:
d1 = time.time()
d2 = datetime.datetime.now()
d1,d2

(1654607519.5227294, datetime.datetime(2022, 6, 7, 13, 11, 59, 522762))

# 파일 입출력

In [139]:
f = open('ex.txt','w') #ex.txt를 쓰기모드로 열겠다
poem = '''123
abcd
가나다라마'''

f.write(poem)

f.close() #ex.txt를 닫겠다

open의 'w' =쓰기모드는 .write()를 통해 쓰는 역할을 한다

In [141]:
f = open('ex.txt','r') #ex.txt를 읽기모드로 열겠다
while True:
    x1 = f.readline() #ex.txt에서 파일 데이터를 한줄씩 읽겠다
    if not x1: #EOF에 이르면 None을 돌려주기에 'not None'은 True로 아래 break가 실행된다
        break
    print(x1,end= '')

f.close()

123
abcd
가나다라마

open의 'r'==읽기모드는 readline()으로 한줄씩 읽어와서 데이터를 처리한다

In [144]:
f = open('ex.txt','r') #ex.txt를 읽기모드로 열겠다

x2 = f.readlines() #파일의 모든 줄을 읽어서 리스트로 반환한다
print(x2,type(x2))

f.close()

['123\n', 'abcd\n', '가나다라마'] <class 'list'>

In [147]:
f = open('ex.txt','r') #ex.txt를 읽기모드로 열겠다
print(f)
x3 = f.read() #파일 내용 전체를 문자열로 반환한다
print(x3,type(x3))

f.close()

<_io.TextIOWrapper name='ex.txt' mode='r' encoding='UTF-8'>
123
abcd
가나다라마 <class 'str'>

with구문은 똑같은데 f.close를 안써도 되는것이다

In [155]:
with open('ex2.txt','w') as f:
    poem = '''드디어
    내일이면 시험이다'''

    f.write(poem)

with open('ex2.txt','r') as f:
    while True:
        temp = f.readline()
        temp = temp.strip('\n')
        print(temp)
        if not temp:
            break

드디어
    내일이면 시험이다